$gap-size: 50px;

.container {
  box-sizing: border-box;
  margin-left: 24px;
  width: 100%;

  border: 1px solid #303030;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  background-color: #202020;

  height: $gap-size;
  padding: 4px 16px;
  color: white;

  box-sizing: border-box;
}

.list {
  height: calc(100% - 50px);
  box-sizing: border-box;
  overflow-y: scroll;
}

